<div class='container-fluid'>
  <br><br><br><br><br><br>
  <div class='container'>
  	<div class='message'>
        	<h5 id='message-text' class='text-center'></h5>
    </div>

    <div class='table'>
      <div id='rim' class='container'>


        <div class='row'>

          <div class='col s4'>

            <button id="0" data-x="0" data-y="0" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="1" data-x="1" data-y="0" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="2" data-x="2" data-y="0" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>
        </div>

        <div class='row'>

          <div class='col s4'>

            <button id="3" data-x="0" data-y="1" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="4" data-x="1" data-y="1" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="5" data-x="2" data-y="1" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>
        </div>

        <div class='row'>

          <div class='col s4'>

            <button id="6" data-x="0" data-y="2" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="7" data-x="1" data-y="2" class="waves-effect btn-large waves-light btn z-depth-3"></button>

          </div>

          <div class='col s4'>

            <button id="8" data-x="2" data-y="2" class="waves-effect btn-large waves-light btn z-depth-3"></button>
          </div>
        </div>
      </div>
      <br>
    		<button id="save">Save Game</button>
    		<button id="previous">View Previous Games</button><br><br>
        <div id="games"></div>
    </div>


  </div>


</div>